{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@icons": "./src/components/icons",
          "@hooks": "./src/hooks"
        }
      }
    ]
  ]
}
